#section-skills {
    display: flex;
    /* flex-direction: row; */
    border-left: 2px solid var(--color-primary);
    border-image-slice: 1;
    border-image-source: linear-gradient(to top, var(--color-primary), var(--color-secundary));
}

#section-skills > div {
    display: grid;
    margin: auto;
    width: 100%;
    /* background-color: red; */
    grid-template-columns: 25% 25% 25% 25%;
    flex: 1;
}
#section-skills > div:first-child {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#section-skills > div:last-child {
    height: 100%;
}


@media only screen and (max-width: 769px) {
    #section-skills {
        border: 0;
        flex-direction: column;
        margin-bottom: 100px;
    }
    #section-skills > div:first-child {
        align-items: center;
    }
    #section-skills > div:first-child > p:last-child {
        display: none;
    }
    #section-skills > div:last-child {
        width: 100%;
    }
    #section-skills > div > div {
        transform: scale(0.75);
    }
}
@media only screen and (min-width: 768px) {
    #section-skills {
        flex-direction: row;
        padding-left: 25px;
    }
    #section-skills > div:last-child > div {
        margin-bottom: 1vw;
    }
}

#section-skills > div:first-child > p:first-child {
    text-align: left;
    font-size: var(--font-size-xxxx-large);
    font-weight: bold;
    margin-bottom: 25px;
}
#section-skills > div:first-child > p:last-child {
    line-height: 2;
    color: var(--color-lightblack);
    transition: all 0.1s ease-in-out;
}

#section-skills > div > div {
    width: 100px;
    aspect-ratio: 1;
    background-color: var(--color-halfblack);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 5px;
    border-radius: 7.5px;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
    border: 1px solid var(--color-halfblack);
}

#section-skills > div > div:hover {
    transform: scale(1.175);
    border: 1px solid var(--color-primary);
    transition: all 0.25s ease-in-out;
    z-index: 90;
}

#section-skills > div > div > p {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 2px;
    transition: all 0.25s ease-in-out;
}

#section-skills > div > div > img {
    aspect-ratio: 1;
    margin-bottom: 2px;
    object-fit: contain;
    transition: all 0.25s ease-in-out;
}
