@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0.5;
        left: -100%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes pipe {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes opacityshow {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
