#section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

#section-about > p:last-child {
    line-height: 2;
    color: var(--color-lightblack);
}

@media only screen and (max-width: 769px) {
    .view-about {
        width: 80%;
    }
}
@media only screen and (min-width: 768px) {
    .view-about {
        width: 50%;
    }
}
