.body-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

main > div:not(div:first-child) {
    padding-top: 20px;
}

#btn-backtotop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 3vw;
    aspect-ratio: 1;
    border-radius: 500px;
    border: 0;
    color: var(--color-white);
    background: var(--gradient-primary);
    cursor: pointer;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6.5vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 20px;
    padding-bottom: 12.5px;
    padding-left: 75px;
    padding-right: 75px;
}

.div-wrapper-switch {
    margin-right: 0;
    margin-left: auto;
}

.div-wrapper-menu {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-wrapper-menu > button {
    font-family: var(--font-primary);
    background-color: transparent;
    border: 0;
    margin-bottom: 2px;
    margin-right: 2vw;
    color: white;
    cursor: pointer;
}

section > p:first-child {
    text-align: center;
    font-size: var(--font-size-xxxx-large);
    font-weight: bold;
    margin-bottom: 25px;
}

.pipe {
    -webkit-animation: pipe 1s infinite;
    animation: pipe 1s infinite;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
